<div class="wrapper wrapper-content animated fadeIn" ng-controller="reverseFeedUploadCtrl">
    <div id="upload">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8" style="margin-bottom: 10px">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file"><span
                            class="fileinput-new">Select reverse feed</span>
                        <input type="file" name="..." file-model="reversefeed"/>
                    </span>
                        <span class="fileinput-filename"></span>
                        <button class="btn btn-success" style="height:52px" ng-click="uploadReverseFeed()" type="button">
                            <i class="fa fa-upload" style="font-size: 20px"></i>&nbsp;&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
