<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" ng-controller="bankInfo" data-ng-init="init()">
                    <h4></h4>
                    <form class="form-horizontal" role="form" name="bankInfoForm" id="bankInfoForm" novalidate ng-submit="submitBankInfoForm()">
                        <div class="form-group required" ng-class="{ 'has-error' : bankInfoForm.bankName.$invalid && bankInfoForm.bankName.$dirty }">
                            <label class="control-label col-sm-5" for="bankName">Name  (as per Bank Account) </label>
                            <div class="col-sm-7">
                                <input type="text" id="bankName" class="form-control" name="bankName"
                                       ng-model="bankInfoFormData.acctName"
                                       ng-pattern="/^[a-zA-Z\s]*$/"
                                       ng-minlength="1"
                                       maxlength="62"
                                       placeholder="Name as per Bank Account"
                                        required />
                                <div ng-show="bankInfoForm.bankName.$invalid && bankInfoForm.bankName.$dirty">
                                    <p ng-show="bankInfoForm.bankName.$error.required" class="help-block">
                                        Name is required
                                    </p>
                                    <p ng-show="bankInfoForm.bankName.$error.pattern" class="help-block">
                                        Invalid name
                                    </p>
                                    <p ng-show="bankInfoForm.bankName.$error.minlength" class="help-block">
                                        Name should contain At least 1 character
                                    </p>
                                    <p ng-show="bankInfoForm.bankName.$error.maxlength" class="help-block">
                                        Name cannot exceed 62 characters
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="form-group required" ng-class="{ 'has-error' : bankInfoForm.name.$invalid && bankInfoForm.name.$dirty }">
                            <label class="control-label col-sm-5" for="name">Bank Name</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="btn btn-default input-group-addon" tooltip-placement="bottom" uib-tooltip="Enter the bank name details for an account which you will continue to use in future, irrespective of change of jobs ">
                                         <i class="fa fa-info"></i>
                                    </span>
                                    <select id="name" class="form-control" name="name"
                                            ng-model="bd_bank" required placeholder="Bank"
                                            ng-change="otherBankDetails()">
                                        <option value=''>--Select Bank--</option>
                                        <option ng-repeat="(key, value) in BillDeskBankList | orderBy:'value.bd_bank_name'" value="{{value.bd_bank_code}}">{{value.bd_bank_name}}</option>
                                    </select>
                                </div>
                                <div ng-show="bankInfoForm.name.$invalid && bankInfoForm.name.$dirty">
                                    <p ng-show="bankInfoForm.name.$error.required" class="help-block">
                                        Bank name is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : bankInfoForm.otherbank.$invalid && bankInfoForm.otherbank.$dirty }"
                             ng-show="otherBank" >
                            <label class="control-label col-sm-5"> </label>
                            <div class="col-sm-7">
                                <input type="text" id="otherbank" class="form-control" name="otherbank"
                                       ng-model="bankInfoFormData.otherBankText"  ng-pattern="/^[a-zA-Z\s]*$/"
                                       placeholder="Enter Your Bank Name" ng-minlength="1" maxlength="62"
                                     ng-required="otherBank" />
                                <div ng-show="bankInfoForm.otherbank.$invalid && bankInfoForm.otherbank.$dirty">
                                    <p ng-show="bankInfoForm.otherbank.$error.required" class="help-block">
                                       Bank Name is required
                                    </p>
                                    <p ng-show="bankInfoForm.otherbank.$error.pattern" class="help-block">
                                        Invalid bank name
                                    </p>
                                    <p ng-show="bankInfoForm.otherbank.$error.minlength" class="help-block">
                                       Bank  name Should Contain Atleast 1 Character
                                    </p>
                                    <p ng-show="bankInfoForm.otherbank.$error.maxlength" class="help-block">
                                      Bank name cannot exceed  maximum 62 characters
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required" ng-class="{ 'has-error' : invalidIfscCode || (bankInfoForm.ifsc_code.$invalid && bankInfoForm.ifsc_code.$dirty) }">
                            <label class="control-label col-sm-5" for="ifsc_code">IFSC Code</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                <span class="btn btn-default input-group-addon" tooltip-placement="top" uib-tooltip="If you know the IFSC number, system will automatically detect the branch address ">
                                     <i class="fa fa-info"></i>
                                </span>
                                    <input name="ifsc_code" id="ifsc_code" type="text" class="form-control" ng-model="bankInfoFormData.ifsc_code" required ng-minlength="11" ng-maxlength="11" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" ng-disabled="bankInfoForm.ifsc_code.$invalid" ng-click="getBankDetails()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <div ng-show="bankInfoForm.ifsc_code.$invalid && bankInfoForm.ifsc_code.$dirty">
                                    <p ng-show="bankInfoForm.ifsc_code.$error.required" class="help-block">
                                        IFSC Code is required
                                    </p>
                                    <p ng-show="bankInfoForm.ifsc_code.$error.minlength" class="help-block">
                                        IFSC Code should be 11 characters
                                    </p>
                                    <p ng-show="bankInfoForm.ifsc_code.$error.maxlength" class="help-block">
                                        IFSC Code should be 11 characters
                                    </p>
                                </div>
                                <p ng-show="invalidIfscCode" class="help-block">
                                    IFSC Code not found
                                </p>
                            </div>
                        </div>
                        <!--Disabling rest filed conditionally -->
                        <div ng-show="showFullForm">
                             <div class="form-group required">
                                <label class="control-label col-sm-5" for="branch">Bank Branch</label>
                                <div class="col-sm-7">
                                   <input type="text" id="branch" class="form-control" name="branch" ng-model="bankInfoFormData.branch" placeholder="Bank Branch"  required />
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-5" for="addr">Bank Address</label>
                                <div class="col-sm-7">
                                   <textarea id="addr" class="form-control" name="addr" placeholder="Bank Address" ng-model="bankInfoFormData.addr" required ></textarea>
                                </div>
                            </div>
                            <div class="form-group required" ng-class="{ 'has-error' : bankInfoForm.account_number.$invalid && bankInfoForm.account_number.$dirty }" >
                                <label class="control-label col-sm-5" for="account_number">Account Number</label>
                                <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="btn btn-default input-group-addon" tooltip-placement="top" uib-tooltip="Enter the bank account details for an account which you will continue to use in future, irrespective of change of jobs">
                                             <i class="fa fa-info"></i>
                                        </span>
                                    <input name="account_number" id="account_number" type="password" class="form-control"
                                           ng-pattern="/^[0-9]{1,30}$/" ng-model="bankInfoFormData.account_number"
                                           ng-minlength="1"
                                           ng-maxlength="30"
                                           placeholder="Enter  account number" required/>
                                </div>
                                <div ng-show="bankInfoForm.account_number.$invalid && bankInfoForm.account_number.$dirty">
                                        <p ng-show="bankInfoForm.account_number.$error.required" class="help-block">
                                            Account number is required
                                        </p>
                                        <p ng-show="bankInfoForm.account_number.$error.pattern" class="help-block">
                                            Enter account number in digits only
                                        </p>
                                        <p ng-show="bankInfoForm.account_number.$error.minlength" class="help-block">
                                            Name should contain At least 1 character
                                        </p>
                                        <p ng-show="bankInfoForm.account_number.$error.maxlength" class="help-block">
                                            Name should cannot exceed 3o characters
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required" ng-class="{ 'has-error' : bankInfoForm.confirm_account_number.$invalid && bankInfoForm.confirm_account_number.$dirty }" >
                                <label class="control-label col-sm-5" for="confirm_account_number">Confirm Account Number</label>
                                <div class="col-sm-7">
                                    <input name="confirm_account_number" id="confirm_account_number" type="text" class="form-control"
                                           ng-pattern="/^[0-9]{1,30}$/"
                                           ng-minlength="1"
                                           ng-maxlength="30"
                                           ng-model="bankInfoFormData.confirm_account_number"
                                           placeholder="Confirm  account number" required/>
                                    <div ng-show="bankInfoForm.confirm_account_number.$invalid && bankInfoForm.confirm_account_number.$dirty">
                                        <p ng-show="bankInfoForm.confirm_account_number.$error.required" class="help-block">
                                            Account number is required
                                        </p>
                                        <p ng-show="bankInfoForm.confirm_account_number.$error.pattern" class="help-block">
                                            Enter account number in digits only
                                        </p>
                                        <p ng-show="bankInfoForm.confirm_account_number.$error.minlength" class="help-block">
                                            Name should contain At least 1 character
                                        </p>
                                        <p ng-show="bankInfoForm.confirm_account_number.$error.maxlength" class="help-block">
                                            Name should cannot exceed 3o characters
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group required" ng-class="{ 'has-error' : bankInfoForm.account_type.$invalid && bankInfoForm.account_type.$dirty }">
                                <label class="control-label col-sm-5" for="account_type">Account Type</label>
                                <div class="col-sm-7">
                                    <select id="account_type" class="form-control" name="account_type" ng-model="bankInfoFormData.account_type" required>
                                        <option value=''>--Select Account Type--</option>
                                        <option ng-repeat="(key, value) in accountTypeList" value="{{key}}">{{value}}</option>
                                    </select>
                                    <div ng-show="bankInfoForm.account_type.$invalid && bankInfoForm.account_type.$dirty">
                                        <p ng-show="bankInfoForm.account_type.$error.required" class="help-block">
                                            Account type is required
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group required" style="text-align: center;">
                                <button class="btn btn-sm btn-primary" ng-disabled="bankInfoForm.$invalid" type="submit" ng-disabled="bankInfoForm.$invalid">
                                    <strong>{{submitText}}</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.form-group {
    margin-top: 20px !important;
}
</style>
