<div class="inmodal">
    <div class="modal-header">
        <img src="/assets/img/logo.png" width="80px" height="80px">
        <h4 class="modal-title">Basic Information</h4>
        <p  class="text-adjustment text-paragraph">Investments in the name of minor (<18 yrs) not allowed</p>
    </div>
    <div class="modal-body">
        <p class="text-adjustment text-paragraph"><strong>You could have an investment goal in child's name, however the account needs to be opened only for an adult (>18 yrs).</strong></p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Ok</button>
    </div>
</div>


