<div class="container-fluid">
    <div class="row equal-height-columns">
        <div class="col-md-6 col-sm-6 hidden-xs image-block equal-height-column"></div>
        <div class="col-md-6 col-sm-6 form-block equal-height-column">
            <a href="/index.php">
                <img src="assets/img/logo.png" alt="" style="width:100px;height:100px;margin-top:20px">
            </a>
            <h3 style="margin-top:30px">Forgot Password?</h3>
            <p>Enter your new password here .</p>
            <form class="m-t" role="form" name="resetPassword" novalidate ng-submit="confirmPassword()">
                <div class="form-group" ng-class="{'has-error' : resetPassword.newPassword.$invalid && resetPassword.newPassword.$dirty }">
                    <input type="password" class="form-control" name="newPassword" placeholder="Enter Your New Password" required ng-model="newPassword">
                    <div ng-show="resetPassword.newPassword.$invalid && resetPassword.newPassword.$dirty">
                        <p ng-show="resetPassword.newPassword.$error.required" class="help-block">
                            Password is required
                        </p>
                    </div>
                </div>
                <div class="form-group"  ng-class="{'has-error' : resetPassword.confirmPassword.$invalid && resetPassword.confirmPassword.$dirty }">
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Your New Password" required ng-model="newConfirmPassword">
                    <div ng-show="resetPassword.confirmPassword.$invalid && resetPassword.confirmPassword.$dirty">
                        <p ng-show="resetPassword.confirmPassword.$error.required" class="help-block">
                           Confirm Password is required
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="resetPassword.$invalid" class="btn btn-primary block full-width m-b">Set new password</button>
            </form>
            <p class="m-t"> <small>FinatWork Wealth Services Pvt ltd. 2011-17</small> </p>
        </div>
    </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
