<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Confirm your submission</h4>
            </div>
            <div class="modal-body">
                <p class="text-adjustment text-paragraph"> Are you sure you want to Submit the form? After submission,
                    you will not be able to edit any fields</p>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">
                        close
                    </button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>