<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fintax - Future Filing of ITR</h4>
            </div>
            <div class="modal-body">
                <p  class="text-adjustment text-paragraph">The tax filing for FY 2017-18 will commence in May 2018.
                    Click confirm if you wish to make this selection. We will contact you for your details at appropriate time.
                    If you wish to change the financial year, click on close and modify the financial year.</p>
            </div>

            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-primary" data-dismiss="modal">Confirm</button><!--what is the use for it ?-->
                <button type="button" ng-click="close(true)" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
