<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center">Terms & Agreement</h4>
            </div>
            <div class="modal-body">
                <p  class="text-adjustment text-paragraph">
                    I understand that the Financial Plan prepared and the recommendations provided in the plan will only be as accurate as the data and documents that has been collected from me. I declare the information & documents provided is complete and accurate, and that to the best of my knowledge.
                </p>
                <p  class="text-adjustment text-paragraph">

                    The recommendations made in the financial pan are subject to review at the time when you are actually taking actions because of changes in legal circumstances, economic conditions etc. If considerable time has elapsed since the date of your plan, you should not act on any specific recommendation without further consideration with the planner.

                </p>
                <p  class="text-adjustment text-paragraph">
                    Returns from each recommended investment will vary in line with market conditions and investment policies of the fund manager. Income and growth assumptions are intended as a guide only and should be treated with caution. The planner should not be held responsible for the accuracy of the same. Most equity/ growth investment are long term in nature and significant variations including capital loss, may occur over shorter periods. Neither the authorized representative nor the company guarantees the performance or return of capital on any of these investments. Performances of investments are subject to market risks. Past performances of a particular asset class or investment may not be the true indicator of their performance in future.
                </p>
                <p  class="text-adjustment text-paragraph">
                    The recommendations in your financial plan will be based on the information you have supplied. If any material information has been withheld or any inaccurate, those recommendations could prove to be inappropriate for you.
                </p>
                <p  class="text-adjustment text-paragraph">
                    While we will make every attempt to ensure that the calculations contained in this Financial Plan are correct and complete, kindly note the plan may contain inaccuracies or errors due the manual-computer interface involved in making the calculations and we expressly exclude liability for any such inaccuracies or errors. In the case where error or omission is involved, you can request us to rectify the error or omission, we shall do needful.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" ng-click="close(true)"  class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
