<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title ">FAQs</h4>
        <br>
        <strong class="text-paragraph center-adjustment">FinGps Service</strong>
    </div>
    <div class="modal-body text-adjustment">
        <ol type="1">
            <li class="text-paragraph">
                <b>What is FinGPS?</b>
            </li>
            <p class="text-paragraph">
                Pretty much like your car GPS helping you on the road; FinGPS constantly guides you on where you are, in
                relation to where you want to be.
                It considers all your financial goals like retirement, child education, buying a house etc., and creates
                a well-defined path for you.
                FinGPS takes a comprehensive view of your needs including budgeting and saving, investments, taxes,
                insurance etc., and puts you in driver's seat.
            </p>
            <li class="text-paragraph">
                <b> Why do I need it? </b>
            </li>
            <p class="text-paragraph">Imagine yourself driving down for an interview to a city, you have never visited
                earlier. You ask people for directions and each person guides you differently. Chances are that you
                might miss a turn and need special efforts to get back on track. Apart from frustration, you would waste
                precious time. You might even miss your interview.</p>
            <p class="text-paragraph">The financial world is like a big jungle, with a maze of hundreds of investment
                avenues available for you to take up. You will also find people to provide directions, but they may not
                lead you to where you wanted to go. Would it not be easier to have your own Financial GPS, guiding you
                every moment, and ensuring that you reach your destination without hassles?</p>
            <li class="text-paragraph">
                <b> How does it help? </b>
            </li>
            <p class="text-paragraph"></p>
            <ul type="circle">
                <li class="text-paragraph">
                    <p> Provides direction and meaning to your financial decisions.</p>
                </li>
                <li class="text-paragraph">
                    <p>Helps you understand how each financial commitment affects other areas of your finances.</p>
                </li>
                <li class="text-paragraph">
                    <p>Prioritizes your goals and aligns your resources towards achievement of those goals.</p>
                </li>
                <li class="text-paragraph">
                    <p>Adds perspective to your investment decisions and gives a sense of achievement as you cross
                        various milestones</p>
                </li>
            </ul>
            <li class="text-paragraph">
                <b> What is the process? </b>
            </li>
            <ul type="circle">
                <li class="text-paragraph">Getting to know you better – Sign up, Risk Profiling,Health Check up, &nbsp
                    &nbsp &nbsp Subscribe for FinGPS
                </li>
                <li class="text-paragraph"> Online Data Gathering - Recording your current financial position and your goals
                </li>
                <li class="text-paragraph">Advisor connect for data validation - Understanding your financial position,
                    risk taking ability and your goals
                </li>
                <li class="text-paragraph">Prelim Plan - Construction of financial plan with recommendations, followed
                    by discussion with your advisor
                </li>
                <li class="text-paragraph">Get your roadmap - Final Plan, recommendations and action items</li>
                <li class="text-paragraph">Reviews - Follow through and monitoring</li>
            </ul>

        </ol>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</div>


