<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content" ng-controller="finGps" data-ng-init="init();">
        <div class="col-sm-12">
            <img class="img-responsive" src="/assets/img/icons/fingps_approach.jpg" alt=""
                 style="width:374px;height: 219px;margin-left:220px">
            <div class="col-lg-5" style="text-align: center ;margin-left:220px ; margin-top:-17px">
                <a href="" ng-click="finGpsInfo()">
                    <h5 >Read about it here</h5>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="form-group" style="text-align: center; margin-top:15px;margin-left:-118px">
                <button class="btn btn-sm btn-primary" ng-click="initiateGpsTransaction()"><strong>Sounds good. Get me
                    started</strong>
                </button>
            </div>s
        </div>
    </div>
</div>


<!--<a ng-click="initiateTrxnFinGps()" class="btn btn-primary coming-soon-margin-top text-right ">Get me started</a>-->
<!--<img class="img-responsive " src="/assets/img/icons/fingps_approach.jpg" alt=""/>-->