<!--Created by Nilabh on 13-09-2017.-->
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please Note</h4>
            </div>
            <div class="modal-body">
                <p class="text-adjustment text-paragraph"> Once you submit, data you entered in this form will be freezed. Click on ‘Confirm’ if you are ready to submit.</p>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">
                        close
                    </button>
                    <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>