<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content" ng-controller="finTax" data-ng-init="init();">

        <div class="col-sm-12">
            <div class="col-sm-6" style="text-align: center">
                <img class="img-responsive" src="/assets/img/taxOptimizationInfographic.jpg" alt=""
                     style="width:280px;height: 280px;margin-left:15px" >
                <div class="col-lg-5" style="text-align: center; margin-left:50px;margin-top:-17px" >
                    <a href="" ng-click="finTaxOptimize()">
                        <h5>Read about it here</h5>
                    </a>
                </div>
            </div>
            <div class="col-sm-6" style="text-align: center">
                <img class="img-responsive" src="/assets/img/taxFilingInfographic.jpg" alt=""
                     style="width:280px;height: 280px ">
                <div class="col-lg-5" style="text-align: center ;margin-left:-20px ; margin-top:-17px">
                    <a href="" ng-click="finTaxFiling()">
                       <h5 >Read about it here</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
        <div class="form-group" style="text-align: center; margin-top:15px;margin-left:-118px">
            <button class="btn btn-sm btn-primary" ng-click="initiateTranscation()"><strong>Sounds good. Get me started</strong>
            </button>
        </div>
            </div>

    </div>
</div>