<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title ">FAQs</h4>
        <br>
        <strong class="text-paragraph center-adjustment">Tax Optimisation Service</strong>
    </div>
    <div class="modal-body text-adjustment">
        <ol type="1">
            <li class="text-paragraph">
                <b>How is this service useful to me?</b>
            </li>
            <p class="text-paragraph">This service will help you identify the various avenues for saving taxes, which you may or may not be availing currently. Employers often don't help employees in designing their salary structure. There are several exemptions and deductions under the Income Tax Act which if availed, can bring in substantial savings in tax. The question you need to ask yourself is - Am I 100% sure that I'm not paying more taxes than I should? If the answer to this question is NO, this service will be useful to you. </p>
            <li class="text-paragraph">
                <b> Will I be able to avail all the possible exemptions and deductions? </b>
            </li>
            <p class="text-paragraph">Not necessarily. It would depend on your personalised scenario. For example, if you don't have a home loan, you obviously cannot avail of the deductions that are available if one has a home loan. Our recommendations would include  two aspects -</p>
                <ul type="circle">
                     <li class="text-paragraph">
                        <p>Immediate potential to save tax</p>
                     </li>
                    <li class="text-paragraph">
                        <p>Options that may be exercised in future  to save tax</p>
                    </li>
                </ul>
            <li class="text-paragraph">
                <b> What will you require from my side? </b>
            </li>
            <p class="text-paragraph">Since this is a personalised service, we would require you to provide use certain documents which will help us assess your tax saving potential. To name a few -</p>
            <ul type="circle">
                <li class="text-paragraph">
                    <p>Latest pay slip or CTC/ salary package </p>
                </li>
                <li class="text-paragraph">
                    <p>IT Computation sheet provided by your employer</p>
                </li>
                <li class="text-paragraph">
                    <p>Home Loan and Property details</p>
                </li>
                <li class="text-paragraph">
                    <p>Investment details (Insurance policies, PPF, mutual funds etc)</p>
                </li>
                <li class="text-paragraph">
                    <p>Medical policy details </p>
                </li>
                <li class="text-paragraph">
                    <p>Rent paid, if staying on rent </p>
                </li>
            </ul>
        <li class="text-paragraph">
                <b> What is the process? </b>
            </li>
            <p class="text-paragraph">Step 1 : Pay the fees</p>
            <p class="text-paragraph">Step 2 : Provide the documents and information</p>
            <p class="text-paragraph">Step 3 : Call with our tax advisor (queries on documents submitted)</p>
            <p class="text-paragraph">Step 4 : Tax optimisation report (within 5 working days of Step 3)</p>
            <p class="text-paragraph">Step 5 : Call with our tax advisor to discuss the report </p>
        </ol>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</div>


