<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Note</h3>
    </div>
    <div class="modal-body">
        <p class="text-adjustment text-paragraph"><strong>The objective of risk profiling exercise is to understand your risk taking ability as well as the attitude to risk. The risk questionnaire is designed to show which type of investment approach may suit you best. Each answer carries a score and the total score would suggest the appropriate risk profile.</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Start</button>
    </div>
</div>

