<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Deductions under Section 80C</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal m-t-md">
            <div class="form-group">
                <label class="col-sm-5 control-label">Employee Provident Fund</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="EPF">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Voluntary Provident Fund</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="VPF">

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Life Insurance premium</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="LIC">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Public Provident Fund</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="PPF">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Home Loan principal</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="HLP">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Qualifying bank deposits</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="QBD">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Sukanya Samriddhi Scheme</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="SSS">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Child tuition fees</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="CTF">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Any other qualifying investment</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="OTI">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Total</label>

                <div class="col-sm-7">
                    <input type="number" class="form-control" placeholder="" ng-model="Total">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Ok</button>
    </div>
</div>

