<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div>
            <img class="img-responsive" src="assets/img/user_guide_service.gif" alt="" usemap="#userGuide">
                <map name="userGuide">
                    <area shape="rect" coords="512,1192,601,1241"  ui-sref="fintax">
                    <area shape="rect" coords="646,1192,753,1238" ui-sref="dashboards.goals_home" >
                    <area shape="rect" coords="69,1087,152,1135" ui-sref="dashboards.health_result">
                    <area shape="rect" coords="925,839,1017,888" ui-sref="fingps">
                    <area shape="rect" coords="656,744,764,794" ui-sref="dashboards.goals_home">
                    <area shape="rect" coords="320,679,391,719" ui-sref="finsure">
                    <area shape="rect" coords="433,676,516,722" ui-sref="fingps">
                    <area shape="rect" coords="888,300,971,346" ui-sref="finestate">
                    <area shape="rect" coords="561,398,647,443" ui-sref="fingps">
                    <area shape="rect" coords="342,197,426,241" ui-sref="finestate">
                    <area shape="rect" coords="433,195,516,241" ui-sref="fingps">
                </map>
        </div>
    </div>
</div>