<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Discounted Pricing for Employees of Preferred Corporates</h4>
            </div>
            <div class="modal-body">
                <p class="text-adjustment text-paragraph">You need to validate your association with your employer by providing your company email id. You need to enter the OTP received in your email to avail the discounted pricing.</p>
            </div>

            <div class="modal-footer">
                <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Sure, happy to validate </button>
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Not applicable for me</button>
            </div>
        </div>
    </div>
</div>
