<div class="inmodal">
    <div class="modal-header">
        <img src="/assets/img/logo.png" width="80px" height="80px">
        <h4 class="modal-title ">Privacy Policy</h4>
        <p class="text-adjustment text-paragraph">Finatwork Wealth Services Pvt Ltd (hereinafter referred to as Fin@Work) respects your privacy and recognizes the importance of protecting your personal information. This Privacy Policy gives you details about our data collection methods and usage. You are advised to please read the Privacy Policy carefully. By accessing the services provided by Fin@Work you agree to the collection and use of your data by Fin@Work in the manner provided in this Privacy Policy.</p>
    </div>
    <p class="text-paragraph center-adjustment"><strong class="">ONLINE INFORMATION COLLECTION</strong></p>
    <div class="modal-body text-adjustment">
        <ol type="1">
            <li class="text-paragraph">
                <b>Personal Information</b>
            </li>
                <p class="text-paragraph">You can visit and browse the Fin@Work website and find out about our services, access articles and other resources without providing Fin@Work with your personal information. Fin@Work collects personal information when it is voluntarily submitted by clients or visitors. This information is used by Fin@Work and its affiliates to offer you the highest level of service, complement our marketing and research efforts, and ensure compatibility among top browsers. In addition we may use the information you provide us to send you marketing information about Fin@Work products and services.</p>
            <li class="text-paragraph">
                <b> IP Addresses </b>
            </li>
                <p class="text-paragraph">Fin@Work Web servers collect your Internet Protocol (IP) address for the purpose of system administration and internal reporting of aggregate information. We use this information to improve our website, develop marketing, monitor website performance, and better meet client needs. When you request pages from our website, our servers log your IP address. Using IP addresses, we can determine the domain names of Internet service providers (ISPs) used to access the Fin@Work website.
            <li class="text-paragraph">
                <b> Cookies </b>
            </li>
                <p class="text-paragraph">Fin@Work website functions are based, in part, on your browser's ability to accept cookie files. Cookies are pieces of information that a website transfers to your hard drive. Cookies allow you to more easily navigate our website and customize website features that are updated each time you visit the site. Cookies also help us track repeat visits to the website. Most browsers are initially set-up to accept cookies. Please note that should you disable your browser from accepting cookies, some information or services may not be able to you.
            <li class="text-paragraph">
                <b> Security </b>
            </li>
                <p class="text-paragraph">Protecting your personal information is important to us. We will take all reasonable technical measures to prevent loss or unintended use of your information. While we strive to protect your information, we cannot ensure or warranty the security of information you send to us and you do so at your own risk.
            <li class="text-paragraph">
                <b> LINKS </b>
            </li>
                <p class="text-paragraph">We provide links to third party sites. As we do not control these web sites, Fin@Work is not responsible for the privacy practices of those web sites or the reliability of the information presented by such site. We therefore encourage you to review the policies posted on these and all third party sites.
            <li class="text-paragraph">
                <b> E-MAIL </b>
            </li>
                <p class="text-paragraph"> For the purposes of improving our service and adhering to regulatory requirements, your e-mail communication may be reviewed, monitored or acted upon by Fin@Work associates including, but not limited to, financial advisors. Because Account Access is a secure, User ID and password protected site, e-mail messages are secured using encryption while in transit. Messages sent on the public website are not encrypted.
            <li class="text-paragraph">
                <b> PRIVACY POLICY UPDATES </b>
            </li>
                <p class="text-paragraph">As we add more features and services to help you make better financial decisions,we update our privacy policies from time to time. Please visit this page often to review latest information on privacy practices at Fin@Work.
    </ol>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">I Agree</button>
    </div>
</div>


