<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row risk-healthcusror center-adjustment">
        <div class="col-lg-6" ng-click="gotohealth()">
            <div class="ibox ">
                <div class="ibox-content">
                    <h3 class="text-finatwork">
                        Would you like to take a FREE Financial Health Check up?
                    </h3>
                    <img class="img-responsive imgTeam-approach" src="assets/img/icons/finhealth.jpg" alt="">
                    <span>(Tip: It's a great place to start if you don't where to begin)
                    </span>
                </div>
            </div>

        </div>
        <div class="col-lg-6" ng-click="gotorisk()">
            <div class="ibox">
                <div class="ibox-content ">
                    <h3 class="text-finatwork">
                        You already have a specific goal in mind?
                    </h3>
                    <img class="img-responsive img-team-fin-health imgTeam-approach " src="assets/img/icons/fintelligent_approach.jpg" alt="">
                    <span>(Tip: You want to start investing immediately)</span>
                </div>
            </div>
        </div>
    </div>
</div>