<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title ">FAQs</h4>
        <br>
        <strong class="text-paragraph center-adjustment">Tax Returns Filing service</strong>
    </div>
    <div class="modal-body text-adjustment">
        <ol type="1">
            <li class="text-paragraph">
                <b>How are you different from others who provide the same service?</b>
            </li>
            <p class="text-paragraph">The difference is that we ask questions! We dont file the return basis your Form 16 only. There may be certain important aspects that you may have missed out either in your declarations to your employer or relating to other heads of income. We take into consideration the complete picture while filing your return. Also, through our tax optimisation service, we would be able to indicate areas where you may do things differently to reduce your taxes. </p>
            <li class="text-paragraph">
                <b>If I forgot a declaration in Form 16, can be it considered while filing the return?</b>
            </li>
            <p class="text-paragraph">Absolutely. From our side, we probe further to see if you may have missed out on something - this ofcourse may result in tax saving or tax payment (and rightfully so)</p>
            <li class="text-paragraph">
                <b> What will you require from my side? </b>
            </li>
            <p class="text-paragraph">There are certain documents we would require for filing your returns. </p>
            <ul type="circle">
                <li class="text-paragraph">
                    <p>Salary - Form 16 </p>
                </li>
                <li class="text-paragraph">
                    <p>Income from House property - Property details, Interest certificate for the financial year, rent details etc</p>
                </li>
                <li class="text-paragraph">
                    <p>Income from capital gains - Nature of capital gains, cost and sale value</p>
                </li>
                <li class="text-paragraph">
                    <p>Income from other sources - 26AS statement, details of fixed deposits or other sources of income  </p>
                </li>
                <li class="text-paragraph">
                    <p>Deductions - Proof for deductions to be claimed.</p>
                </li>
                <li class="text-paragraph">
                    <p>Certain personal information required for tax return</p>
                </li>
            </ul>
            <li class="text-paragraph">
                <b> What is the process? </b>
            </li>
            <p class="text-paragraph">Step 1 : Pay the fees</p>
            <p class="text-paragraph">Step 2 : Provide the documents and information</p>
            <p class="text-paragraph">Step 3 : Call with our tax advisor (queries on documents submitted)</p>
            <p class="text-paragraph">Step 4 : Return filed and acknowledgement </p>
            <p class="text-paragraph">Step 5 : Call with our tax advisor for closure </p>
        </ol>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</div>


